<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>Bartłomiej Polkowski - portfolio</title>
		<link rel="stylesheet" href="style.css">
		<link href="https://fonts.googleapis.com/css?family=Lato|Russo+One" rel="stylesheet">
		<link rel="stylesheet" href="css/fontello.css">
		<script src="jquery-3.1.1.js"></script>
		<script src="script.js"></script>


	</head>

	<body>
		<header class="top">
			<div class="container">
				<!-- Logo -->
				<div class="logo">
					<a href="index.html">Bartłomiej_<span style="color: #33CCCC">Polkowski</span>;</a>
				</div>
				<!-- Menu -->
				<div class="menu">
                    <ul>
						<li><a href="index.html">O mnie</a></li>
						<li><a href="index.html">Portfolio</a></li>
						<li><a href="index.html">Współpraca</a></li>
						<li><a href="index.html">Kontakt</a></li>
					</ul>
				</div>
			</div>
		</header>
			<!-- Skecja O mnie -->
		<section class="banner">
			<div class="container ">
				<!-- opis O mnie -->
				<div class="main">
					<h1 class="center-text">Zatrudnij <br>Junior Web Developera!</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.</p>
				</div>
			</div>
		</section>

			<!-- Sekcja Portfolio -->
		<section class="intro">
			<div class="container">
				<h2 class="center-text">Dlaczego właśnie ja?</h2>
				<div class="intro-column">
					<img src="img/wykrztalcenie.png" alt="biblioteka">
					<h3 class="center-text">Wykształcenie</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.</p>
				</div>
				<div class="intro-column">
					<img src="img/zainteresowania.png" alt="kolarz">
					<h3 class="center-text">Zainteresowania</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.</p>
				</div>
				<div class="intro-column">
					<img src="img/osobowosc.png" alt="osobowosc">
					<h3 class="center-text">Osobowość</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.</p>
				</div>

			</div>
		</section>
		<section class="skills">
			<div class="container">
				<h2>Opanowane technologie</h2>
				<div class="slider">

				</div>
			</div>
		</section>

		<section class="portfolio">
			<div class="container">
				<!-- obrazek współpraca-->
				<div class="col-half">
					<img src="img/portfolio.png" alt="notes">
				</div>
				<!-- opis współpraca -->
				<div class="col-half">
					<h2 class="center-text">Portfolio</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.</p>
				</div>
			</div>
		</section>

			<!-- Sekcja Współpraca -->
		<section class="promotion">
			<div class="container">
				<!-- obrazek współpraca-->

				<!-- opis współpraca -->
				<div class="col-half">
					<h2 class="center-text">Nawiążmy współpracę</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque.</p>
				</div>
				<div class="col-half">
					<img src="img/wspolpraca.png" alt="">
				</div>
			</div>
		</section>

			<!-- Sekcja kontakt  -->
		<section class="contact">
			<div class="container">
				<!-- obrazek kontakt -->
				<h2 class="center-text">Skontaktuj się ze mną</h2>
				<div class="col-half" id="contact-right">
					<img src="img/mail.png" alt="mial">
				</div>
				<!-- Formularz kontaktowy -->
				<div class="col-half" id="contact-left">
					<form action="">
						<label for="name" >
							<strong>Imię i Nazwisko:</strong>
						</label><br>
						<input type="text" name="name"placeholder="Imię i Nazwisko" id="name"><br>
						<label for="email">
							<strong>E-mail: </strong>
						</label><br>
						<input type="text" name="email" placeholder="E-mail" id="email"><br>
						<label for="tresc">
							<strong>Treść: </strong>
							</label><br>
						<textarea type="text" name="tresc" placeholder="Treść" id="tresc" rows="10" style="width: 430px;" ></textarea><br>
						<button type="submit" class="button" id="send"> Wyślij</button>



					</form>
				</div>
			</div>
		</section>
			<!-- Sekjca linków -->
		<section class="sociallinks">

				<div class="container">

						<div class="li">
							<a href="https://www.linkedin.com/in/bart%C5%82omiej-polkowski-462260133?trk=hp-identity-name" target="blank"><i class="icon-linkedin"></i></a>
						</div>

						<div class="yt">
								<a href="https://www.youtube.com/channel/UCTzQP_okBk3gq_5xddp6Mxw" target="_blank"><i class="icon-youtube-play"></i></a>
						</div>

						<div class="gplus">
							<a href="https://plus.google.com/u/0/104578984702820684373" target="_blank"><i class="icon-gplus"></i></a>
						</div>

						<div class="gh">
							<a href="https://github.com/bpoldek" target="_blank"><i class="icon-github"></i></a>
						</div>




				</div>
		</section>
			<!-- Stopka -->
		<footer class="site-footer">
			<div class="container">
				<p>Bartłomiej Polkowksi &copy; 2016</p>
			</div>
		</footer>



	</body>
</html>