{% extends 'blog/base.html' %}
{% block content %}
            {% if posts %}
            {% for post in posts %}
<div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <img src="{{ post.image.url }}" class="img-thumbnail" alt="Obrazek", width="60%">
                 </div>
                <div class="col-lg-8">
                       <p>Opublikowany: {{ post.published_date }}</p>
                        <h2> <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                        <em>{{ post.text|linebreaksbr  }}</em>
                </div>
            </div>
</div>
            {% endfor %}
            {% else %}
            <div>
                <h1>You have not written any posts yet!</h1>
            </div>
            {% endif %}
{% endblock %}