body{
    font-family: 'Lato', sans-serif;
    padding-top: 56px;
    padding-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.2);
}
.collapse li:hover
{
	background: black;
	color: #CC00CC;
	border-bottom:1px solid #33CCCC;
}
.navbar-brand{
    padding-left : 15px;
}
.mb-4{
    border-bottom:2px solid #33CCCC;
}
.text-center{
    background: rgba(0, 0, 0, 0.2);
}
